* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  padding-top: 100px;

  font-family: monospace;
  font-size: 24px;
}

h1 {
  font-size: 2em;
  /* text-align: center; */
  color: red;
}

.high {
  height: 400vh;
}

footer {
  text-align: center;
}
